{% extends 'default.html.twig' %}

{% block contenido %}
    <h1>Gracias por tu encuesta</h1>
    <p>Gracias por completar tu encuesta. Esta información nos ayudará a mejorar nuestra atención a los pacientes.</p>
    <a href="{{ path('encuestas') }}">Volver a la lista de encuestas</a>
{% endblock %}