<!-- filepath: /c:/symfony/proyectos/Hospital/templates/citas/nueva.html.twig -->
{% extends 'default.html.twig' %}

{% block contenido %}
    <h1>Nueva Cita</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Guardar</button>
    {{ form_end(form) }}
{% endblock %}