<!-- templates/default.html.twig -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Web site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="Web site" />
    <meta name="description" content="Site description here" />
    <meta name="keywords" content="keywords here" />
    <meta name="language" content="en" />
    <meta name="subject" content="Site subject here" />
    <meta name="robots" content="All" />
    <meta name="copyright" content="Your company" />
    <meta name="abstract" content="Site description here" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <!-- <link id="theme" rel="stylesheet" type="text/css" href="style.css" title="theme" />-->
	<link href="{{ asset('/css/style.css') }}" rel="stylesheet" type="text/css" />
  </head>
  <body> 
    <div id="wrapper"> 
      <div id="bg"> 
        <div id="header"></div>  
        <div id="page"> 
          <div id="container"> 
            <!-- banner -->  
            <div id="banner"></div>  
            <!-- end banner -->  
            <!-- horizontal navigation -->  
            <div id="nav1"> 
              <ul>
                {% block menu%}
                  {{render(controller('App\\Controller\\MenuController::menu'))}}
                {% endblock %}
              </ul> 
            </div>  
            <!-- end horizontal navigation -->  
            <!--  content -->  
            <div id="content" style="margin-top: 100px;"> 
                {% block contenido %}
                  <h1>Bienvenido al Hospital Jose Planes</h1>
                  
                  <p>En el Hospital Jose Planes, nos enorgullecemos de ofrecer una atención médica de alta calidad a todos nuestros pacientes. Nuestro equipo de profesionales de la salud está comprometido a brindar un cuidado integral y personalizado.</p>
                  <p>Nuestro hospital cuenta con instalaciones modernas y tecnología de punta para asegurar diagnósticos precisos y tratamientos efectivos. Desde consultas generales hasta especialidades médicas avanzadas, estamos aquí para atender todas sus necesidades de salud.</p>
                  <p>Nos esforzamos por crear un ambiente acogedor y seguro para nuestros pacientes y sus familias. Su bienestar es nuestra prioridad, y trabajamos incansablemente para garantizar su recuperación y satisfacción.</p>
                  <img src="https://www.quironsalud.com/embarazoymaternidad/es/hospitales/hospital-quironsalud-murcia.ficheros/1440149-HQSMurcia_cabecera.jpg" alt="Imagen del Hospital" style="width:100%; height:auto;">
                {% endblock %}
            </div>  
            <!-- end content --> 
          </div>  
          <!-- end container --> 
        </div>  
        <div id="footerWrapper"> 
          <div id="footer"> 
            {% block footer%} 
              {{render(controller('App\\Controller\\FooterController::footer'))}}
            {% endblock %}
          </div> 
        </div> 
      </div> 
    </div> 
  </body>
</html>
