{% extends 'default.html.twig' %}
{% block contenido %}
    <h1>Te has apuntado a la bolsa correctamente! </h1>
    <p>En breve recibirás un correo con la confirmación de tu inscripción.</p>
    <p>Gracias por confiar en nosotros.</p>
    <a href="{{path('inicio')}}">Volver al inicio</a>

{% endblock %}